/* src/App.css */
@import "tailwindcss";

@theme {
	--color-background: #f4f1ea;
	--color-text-primary: #2c1e1a;
	--color-accent-sepia: #8d6e63;
}

/* Custom scrollbar to look like ink on parchment */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #f4f1ea;
}
::-webkit-scrollbar-thumb {
	background: #8d6e63;
	border-radius: 4px;
}
